.App {
  text-align: center;
  margin: 40px 150px;
}

.App-intro {
  font-size: large;
}

#Post {
  text-align: left;
}

.score {
  font-weight: bold;
}

.score, .domain {
  display: inline-block;
  padding-right: 10px;
}

.row {
  float: none;
}

form {
  margin-bottom: 40px;
}

a {
  text-decoration: none; 
}

ul {
 list-style: none;
 margin-left: 0;
 padding-left: 1em;
 text-indent: -1em;
}